:root {
  --text-font: "Roboto", sans-serif;
  --text-logotype: "Raleway", sans-serif;
  --logotype-dark-color: #000000;
  --logotype-light-color: #ffffff;
  --black-color: #000000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --text-light-color: #ffffff;
  --background-light-color: #ffffff;
  --background-dark-color: #2f303a;
  --filter-btn-color: #f5f4fa;
  --features-bg-color: #f5f4fa;
  --icons-color: #afb1b8;
  --potfolio-list-gap: 30px;
}

body {
  font-family: var(--text-font);
  color: var(--text-color);
  background-color: var(--background-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*==== COMPONENTS ====*/

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;

  background: var(--background-light-color);
  border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  height: 20px;
  width: 20px;

  fill: var(--icons-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--text-light-color);
}

/*==== END COMPONENTS ====*/

/*==== HEADER ====*/

.page-header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.logotype {
  text-decoration: none;
  font-family: var(--text-logotype);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.dark-logotype-link {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 92px;

  color: var(--logotype-dark-color);
}

.dark-logotype-link:hover,
.dark-logotype-link:focus {
  color: var(--logotype-dark-color);
}

.logotype-accent {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.current-link {
  color: var(--accent-color);
  text-decoration: none;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: var(--icons-color);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: var(--accent-color);
}

/*==== END HEADER ====*/

/*==== HERO ====*/

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-size: cover;
  background-color: var(--background-dark-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
}

.hero-title {
  margin-bottom: 30px;

  color: var(--text-light-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;

  color: var(--text-light-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
  background-color: var(--background-light-color);
}

/*==== END HERO ====*/

/*==== FEATURES ====*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  align-items: center;
}

.features-item {
  width: 270px;
}

.features-thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--features-bg-color);
  border-radius: 4px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*==== END FEATURES ====*/

/*==== SERVICES ====*/

.services {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  align-items: center;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-title {
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

/*==== END SERVICES ====*/

/*====  OUR TEAM ====*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--filter-btn-color);
}

.team-list {
  display: flex;
}

.team-item {
  height: 428px;
  width: 270px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-content {
  padding: 30px 32px;
  text-align: center;

  background-color: var(--background-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

/*====  END OUR TEAM ====*/

/*====  CLIENTS ====*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;

  font-family: var(--text-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  height: 90px;
  width: 170px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-logo {
  fill: var(--icons-color);
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: var(--accent-color);
}

/*==== END CLIENTS ====*/

/*====  FOOTER ====*/

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.light-logotype-link {
  display: block;
  margin-bottom: 20px;

  color: var(--logotype-light-color);
}

.light-logotype-link:hover,
.light-logotype-link:focus {
  color: var(--logotype-light-color);
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: var(--text-light-color);
}

.contact-address:hover,
.contact-address:focus {
  color: var(--text-light-color);
}

.contact-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-address-link:hover,
.contact-address-link:focus {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer .social-links {
  width: 206px;
}

.join-title {
  margin-bottom: 20px;

  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-light-color);
}

.page-footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .social-list-link:hover,
.page-footer .social-list-link:focus {
  background-color: var(--accent-color);
}

.page-footer .social-list-icon {
  fill: var(--text-light-color);
}
/*==== END FOOTER ====*/

/*====  PORTFOLIO  ====*/

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--filter-btn-color);
  color: var(--title-color);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--potfolio-list-gap));
  margin-bottom: calc(-1 * var(--potfolio-list-gap));
}

.portfolio-item {
  width: calc(100% / 3 - var(--potfolio-list-gap));
  margin-right: var(--potfolio-list-gap);
  margin-bottom: var(--potfolio-list-gap);
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-content {
  padding: 20px 24px;
}

.portfolio-link {
  display: block;
  height: 404px;
  width: 370px;
  background-color: var(--background-light-color);
  border: 1px solid #eeeeee;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*====  END PORTFOLIO  ====*/
